
.textTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #01579b;
}

.labelText {
    -fx-font-size: 15px;
    -fx-fill: #0277bd;
}


.textField {
    -fx-background-color: #BBDEFB;
    -fx-border-color: #0288d1;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-text-fill: #0D47A1;
    -fx-prompt-text-fill: black;
}


.blue-button {
    -fx-background-color: #0288d1;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
}

.blue-button:hover {
    -fx-background-color: #0277bd;
}


.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #0288d1;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.table-column-header {
    -fx-background-color: #0288d1;
    -fx-text-fill: white;
}

.search-icon {
    -fx-opacity: 0.8;
}
