
/* General styling for the login form */
#anpDashboard {
    -fx-background-color: #1a1a1a; /* Dark background */
}

/* Styling for the login text */
.text {
    -fx-fill: #ffffff; /* White text */
    -fx-font-size: 25px;
    -fx-font-family: 'Arial Black', sans-serif;
}

/* Styling for text fields */
.text-field {
    -fx-background-color: #2d2d2d; /* Darker background */
    -fx-text-fill: #ffffff; /* White text */
    -fx-prompt-text-fill: #aaaaaa; /* Light gray prompt text */
    -fx-border-color: #4CAF50; /* Light green border */
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Styling for buttons */
.button {
    -fx-background-color: #59ac0b; /* Green button */
    -fx-text-fill: #ffffff; /* White text */
    -fx-font-size: 16px;
    -fx-font-family: 'Verdana', sans-serif;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green when hovered */
}

.button:pressed {
    -fx-background-color: #3e8e41; /* Even darker green when pressed */
}

/* Styling for the forgot password button */
#btnForgotPassword {
    -fx-background-color: transparent; /* No background */
    -fx-text-fill: black; /* Bright blue text */
    -fx-underline: true;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

#btnForgotPassword:hover {
    -fx-background-color : #86d1a4; /* Slightly darker blue when hovered */
}
