/* Styling for the date label */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #0e2945; /* Deep blue for label text */
    -fx-font-weight: bold;
}

#lblDate {
    -fx-font-size: 16px;
    -fx-text-fill: #0e2945; /* Medium blue for the date and time */
    -fx-font-style: italic;
}
